@font-face {
  font-family: "LiberationSans-Regular";
  src: url("../assets/fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: "LiberationSans-Bold";
  src: url("../assets/fonts/LiberationSans-Bold.ttf");
}

body {
  font-family: "LiberationSans-Regular";
  font-size: 20px;
  background-color: #393F48;
  margin: 0;
}

h1, h2, h3 {
  color: #9B9EA2;
  margin: 0;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.33em;
}

p {
  color: #9B9EA2;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

a {
  text-decoration: none;
  color:#43BE64
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p.small {
  font-size: 16px;
}

p.verySmall {
  font-size: 13px;
}

div.header {
  text-align: center;
  line-height: 70px;
  height: 54px;
}

/* I honestly for the love of god could not come up with a better name than
this. Its rather self explanatory anyway. */
div.bigThing { /* That's what she said. */
  margin-top: 60px;
}

div.overallContainer {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

div.contentContainer {
  width: 984px;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}

div.contentContainer-90 {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

/* I am bad with coming up with names... */
div.advert {
  width: 400px;
  height: 250px;
  margin-bottom: 25px;
  text-align: center;
}

input {
  font-family: "LiberationSans-Regular";
  border-radius: 3px;
  border-width: 0;
  background-color: #EEF3F8;
}

input.searchBar {
  float: left;
  height: 28px;
  font-size: 15px;
  padding-left: 6px;
  margin-left: 30px;
  margin-top: 12px;
}

input.signUp {
  height: 48px;
  width: 336px;
  font-size: 17px;
  padding-left: 14px;
  margin-bottom: 10px;
}

button {
  font-family: "LiberationSans-Bold";
  border-radius: 3px;
  border-width: 0;
  height: 34px;
  color: #EEF3F8;
  font-size: 14px;
}

#signUpButton {
  width: 350px;
  margin-top: 10px;
}

.navbarButton1 {
  width: 75px;
  margin-top: 10px;
  float: right;
}

.greyGradient {
  background: linear-gradient(#9B9EA2, #747679); /* Standard syntax */
  background: -webkit-linear-gradient(#9B9EA2, #747679); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9B9EA2, #747679); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9B9EA2, #747679); /* Firefox 3.6 to 15 */
}

.greenGradient {
  background: linear-gradient(#43BE64, #328E4B); /* Standard syntax */
  background: -webkit-linear-gradient(#43BE64, #328E4B); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#43BE64, #328E4B); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#43BE64, #328E4B); /* Firefox 3.6 to 15 */
}
