@font-face {
  font-family: "LiberationSans-Regular";
  src: url("../assets/fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: "LiberationSans-Bold";
  src: url("../assets/fonts/LiberationSans-Bold.ttf");
}

body {
  font-family: "LiberationSans-Regular";
  font-size: 20px;
  background-color: #393F48;
  margin: 0;
}

h1, h2, h3 {
  color: #9B9EA2;
  margin: 0;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.33em;
}

p {
  color: #9B9EA2;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

a {
  text-decoration: none;
  color:#43BE64
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 16px;
}

p.verySmall {
  font-size: 13px;
}

div.header {
  text-align: center;
  line-height: 70px;
  height: 54px;
}

/* I honestly for the love of god could not come up with a better name than
this. Its rather self explanatory anyway. */
div.bigThing { /* That's what she said. */
  margin-top: 52px;
}

div.overallContainer {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

div.contentContainer {
  width: 984px;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
}

div.contentContainer-90 {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

div.logbookSelectionPane {
  width: 234px;
  margin-left: auto;
  overflow-y: scroll;
}

div.logbookEditor {
  width: 702px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

/* I am bad with coming up with names... */
div.advert {
  width: 400px;
  height: 250px;
  margin-bottom: 25px;
  text-align: center;
}

div.logbookContainer {
  height: 50px;
  width: 212px;
  margin-bottom: 5px;
}

div.entryContainer {
  height: 134px;
  width: 680px;
  margin-bottom: 15px;
}

div.entryHeader {
  height: 34px;
  width: 644px;
  background-color: #393f48;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 34px;
  padding: 0 18px 0 18px;
}

div.entryContent {
  min-height: 80px;
  width: 644px;
  background-color: #333840;
  color: #FFFFFF;
  padding: 10px 18px 10px 18px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

div.popUp {
  position: absolute;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #E2E2E2;
  border-radius: 6px;
  border: 0;
  display: none;
  top: calc(25% - 100px);
  left: calc(50% - 250px);
  z-index: 20;
  margin: auto;
}

/* This is to be used with div.popUp - it creates a dark transparent area around
 * the div to separate it from the other content on the page.*/
div.blanket {
  background-color: #010101;
  opacity: 0.65;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

div.form label {
  display: inline-block;
  text-align: right;
  margin-bottom: 15px;
}

input {
  font-family: "LiberationSans-Regular";
  border-radius: 3px;
  border-width: 0;
  background-color: #EEF3F8;
}

input.searchBar {
  float: left;
  height: 28px;
  font-size: 15px;
  padding-left: 6px;
  margin-left: 30px;
  margin-top: 12px;
}

input.signUp {
  height: 48px;
  width: 336px;
  font-size: 17px;
  padding-left: 14px;
  margin-bottom: 10px;
}

button {
  font-family: "LiberationSans-Bold";
  border-radius: 3px;
  border-width: 0;
  height: 34px;
  color: #EEF3F8;
  font-size: 14px;
}

button.navbarButton1 {
  width: 75px;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
}

button.logbookButton {
  font-family: "LiberationSans-Regular";
  text-align: left;
  padding-left:12px;
  border-radius: 3px 0 0 3px;
  height: 50px;
  width: 162px;
  background-color: #393F48;
  float: left;
}

button.settingsButton {
  height: 50px;
  width: 50px;
  border-radius: 0 3px 3px 0;
  background-color: #43BE64;
  background-image: url(../assets/logbook-page/settings-icon.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

button.closeButton {
  height: 40px;
  width: 40px;
  background-image: url(../assets/logbook-page/close-icon.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

#signUpButton {
  width: 350px;
  margin-top: 10px;
}

#createLogbookButton {
  background-color: #2d3239;
  border-width: 2px;
  border-style: dashed;
  width: 212px;
}

#createLogbookEntryButton {
  background-color: #2d3239;
  border-width: 2px;
  border-style: dashed;
  height: 80px;
  width:680px;
  padding-left:24px;
}

.greyGradient {
  background: linear-gradient(#9B9EA2, #747679); /* Standard syntax */
  background: -webkit-linear-gradient(#9B9EA2, #747679); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9B9EA2, #747679); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9B9EA2, #747679); /* Firefox 3.6 to 15 */
}

.greenGradient {
  background: linear-gradient(#43BE64, #328E4B); /* Standard syntax */
  background: -webkit-linear-gradient(#43BE64, #328E4B); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#43BE64, #328E4B); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#43BE64, #328E4B); /* Firefox 3.6 to 15 */
}

.redGradient {
  background: linear-gradient(#FF5050, #FF0000);  /* Standard syntax */
  background: -webkit-linear-gradient(#FF5050, #FF0000); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF5050, #FF0000); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF5050, #FF0000); /* Firefox 3.6 to 15 */
}

img.navbarIconRight {
  float: right;
  margin-left: 10px;
  border-radius: 3px;
  margin-top: 10px;
  height: 34px;
  width: 34px;
}

img.navbarProfilePic {
  float: right;
  border-radius: 3px;
  margin-top: 15px;
  margin-right: 3px;
  height: 24px;
  width: 24px;
}

span.saveButton {
  float: right;
  text-decoration: none;
  color:#43BE64;
  font-size: 13px;
}

textarea.entryTextArea {
  resize: none;
  width: 640px;
  height: 80px;
}